<div class="panel " style="height:530px;width:370px;border-radius:2px; background:rgba(0, 0, 0, 0.582);align-items: center;align-content: center;">

    <h2>Friggin Login Form</h2><br><br>
    <div class="centered">
    <form style ="width:70%;" #makan="ngForm" (submit)="login(makan)" action="">
      <label for="">Tell your friggin name or Email</label> <br>
      <input name="nameoremail" class="form-control" type="text" ngModel><br>
      <label for="">Tell your friggin password <br><span style="font-size:70%;">* yes, I STILL make it visible because I am lazy to edit the password input type to password *</span></label> <br>
      <input name="password" class="form-control" type="text" ngModel><br>
  
      <input type="checkbox" (change)="check()" [(ngModel)]="checkboxValue" name="checkbox" id=""><span style="font-size:70%;"><b> You better friggin remember me</b></span><br><br><br>
  
    <button class="btn"  style="background:rgba(255, 255, 255, 0.137);"> Friggin Submit </button>
    </form>
    </div>
  </div>